.input-box {
    display: flex;
    flex-direction: column;
  }
  
  .colmn {
    height: 50px !important;
  }
  .Form-card-css {
    border-radius: 8px;
    /* 
    box-shadow: 1px 1px 1px 1px rgb(161, 161, 161); */
    /* 
    width: 550px; */
    /* padding: 20px 20px 60px 20px; */
    padding: 10px;
    padding-left: 20px;
  
  
    padding-right: 20px;
    position: relative;
    top: 30px;
  }
  /* .inner-card {
    display: flex;
  }*/
  
  .danger {
    background-color: red !important;
  }
  .inner-card div {
    /* width: 50%; */
    margin: 6px;
    height: 70px;
  }
  .whole-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .link {
    text-decoration: none;
    color: black;
    text-align: left !important;
  }
  .haven-back {
    position: fixed;
    width: 250px;
    height: 200px;
    right: 0px;
  }
  .method {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
  
    font-size: 18px;
  
    color: rgb(50, 49, 49);
  }
  
  .table th,
  .table td {
    padding: 8px;
    border: 1px solid black;
    text-align: center;
    align-items: center;
  }
  .table td {
    font-style: normal;
  }
  .table th {
    font-size: 18px;
    background-color: rgba(169, 181, 175, 0.8);
    color: rgb(50, 49, 49);
  }
  
  .table td button {
    cursor: pointer;
  }
  
  .table td a {
    text-decoration: none;
    color: black;
  }
  
  .input-box input {
    padding: 6px;
    /* border-top: none;
    border-left: none;
    border-right: none; */
    border-radius: 5px;
    border: 1px solid grey;
    background: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .input-box textarea {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid grey;
    background: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .input-box textarea:focus {
    outline: none;
  }
  
  .input-box input:focus {
    outline: none;
  }
  .input-box label {
    font-size: 15px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(50, 49, 49);
  }
  .title-haven {
    text-align: start;
    font-size: 28px !important;
    color: rgba(25, 135, 84, 0.8);
    /* margin-bottom: 10px; */
    font-family: "Open Sans", sans-serif !important;
    font-optical-sizing: auto;
  }
  
  #cancel-btn {
    background-color: blue !important;
  }
  .button {
    padding: 8px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgba(25, 135, 84, 0.8) !important;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  
    font-size: 17px;
  }
  button {
    border: none !important;
    background: none !important;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif !important;
  }
  .button:hover {
    background-color: rgba(19, 108, 66, 0.8) !important;
  }
  .cancel {
    padding: 8px;
    border-radius: 5px;
    border: none;
    color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    background-color: rgb(55, 54, 54) !important;
  
    margin-right: 5px;
  
    font-size: 17px;
  }
  .cancel:hover {
    background-color: rgb(41, 40, 40) !important;
  }
  .error {
    color: red;
    font-size: 12px;
  }
  .btn-div {
    text-align: right !important;
  }
  
  .text-box {
    width: 100% !important;
  }
  
  #action {
    padding: 10px;
  }
  .edit {
    border-radius: 5px;
  
    height: 30px;
    border: none;
    margin-right: 5px;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
  }
  .delete {
    background-color: rgb(164, 52, 15);
    color: white !important;
  
    border-radius: 5px;
    border: none;
  
    height: 30px;
    margin-left: 5px;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
  }
  .editby {
    background: transparent !important;
    color: white !important;
  
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-right: 4px;
  }
  
  #cod {
    height: fit-content !important;
  }
  #credit {
    height: fit-content !important;
  }
  @media only screen and (max-width: 768px) {
    .inner-card {
      display: flex;
      flex-direction: column;
    }
    .inner-card div {
      width: 100%;
    }
    .Form-card-css {
      height: 100%;
    }
  }
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #7986cb;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: auto;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .dailog {
    position: absolute;
    top: 300px;
    padding: 30px;
    border-radius: 7px;
  
    font-weight: 400;
    text-align: center;
  
    font-style: normal;
  }
  .del {
    /* background-color: rgb(164, 52, 15); */
    border: none;
    color: white;
    padding: 10px;
    margin: 5px;
    /* width: 38% !important; */
    border-radius: 4px;
  }
  .nope {
    /* background-color: green; */
    border: none;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
  }
  .data-tab {
    height: 30%;
    width: 100%;
  }
  .search-icons {
    position: absolute;
    right: 15px;
    font-weight: 700;
    font-size: larger;
  }
  
  .custom-data-table {
    max-height: 450px; /* Adjust this value as needed */
    overflow-y: auto;
  }
  .p-button {
    /* color: #ffffff;
      background: #06b6d4;
      border: 1px solid #06b6d4; */
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
      box-shadow 0.2s;
    border-radius: 6px;
  }
  
  .p-datatable .p-datatable-tbody > tr > td {
    text-align: left;
    border: 1px solid #e5e7eb;
    border-width: 0 0 1px 0;
    /* padding: 1rem 1rem; */
  }
  